html, body, .container {
	height: 100%;
}
.well {
	float: right;
	width: 100%;
	vertical-align: baseline;
}

.devoured {
	float: right;
	width: 100%;
}

#update {
	float: left;
}

#add {
	float: left;
	display: block;
	text-align: center;
	height: 10%;
}
#add>textarea {
	width: 100%;
	height: 100%;
	color: #e64f18;
	padding: 19px;
}

#add>button {
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
}
