html, body, .container {
	height: 100%;
}

body {
	background-color: #18afe6;
	color: #fff;
}
.well {
	float: left;
	width: 75%;
	color: #e64f18;
}

.devoured {
	width: 100%;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
